.sede-1 , .sede-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.footer-top {
    background-color:  #88a2d4;
    width: auto;
    height: auto;
}